@import './base.css';

.mt-1 {
  margin-top: 2px;
}

.mt-2 {
  margin-top: 4px;
}

.mt-3 {
  margin-top: 8px;
}

#app {
  max-width: 1280px;
  padding: 2rem;
  font-weight: normal;
  font-size: 24px;
}

.game-table-block {
  font-size: 32px;
}

.game-table-block a {
  text-decoration: none;
  color: yellow;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

tr {
  margin:0;
}

td {
  padding: 20px;
  border: solid green 1px;
}
